## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/AlexPapa/Desktop/Repos/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Saldanha,-33.0117,17.9442,57.02,78,88,14.58,ZA,overcast clouds
1,1,Ushuaia,-54.8000,-68.3000,40.66,75,75,21.85,AR,broken clouds
2,2,Souillac,-20.5167,57.5167,72.36,78,18,15.08,MU,few clouds
3,3,Bluff,-46.6000,168.3333,51.80,58,91,22.39,NZ,overcast clouds
4,4,Arraial Do Cabo,-22.9661,-42.0278,69.89,93,14,10.94,BR,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Souillac,MU,72.36,few clouds,-20.5167,57.5167,
4,Arraial Do Cabo,BR,69.89,few clouds,-22.9661,-42.0278,
6,Rikitea,PF,73.42,overcast clouds,-23.1203,-134.9692,
7,Mataura,PF,73.42,overcast clouds,-23.1203,-134.9692,
8,San Antonio,US,87.10,clear sky,29.4241,-98.4936,
9,Sibolga,ID,74.88,moderate rain,1.7427,98.7792,
10,Rikitea,PF,73.42,overcast clouds,-23.1203,-134.9692,
12,Punta Arenas,US,87.10,clear sky,29.4241,-98.4936,
15,Castro,US,87.10,clear sky,29.4241,-98.4936,
16,Cidreira,BR,69.89,few clouds,-22.9661,-42.0278,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Souillac,MU,72.36,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
4,Arraial Do Cabo,BR,69.89,few clouds,-22.9661,-42.0278,Pousada Porto Praia
6,Rikitea,PF,73.42,overcast clouds,-23.1203,-134.9692,People ThankYou
7,Mataura,PF,73.42,overcast clouds,-23.1203,-134.9692,People ThankYou
8,San Antonio,US,87.10,clear sky,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk
...,...,...,...,...,...,...,...
1884,Vaini,TO,74.34,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
1885,Faanui,PF,73.42,overcast clouds,-23.1203,-134.9692,People ThankYou
1887,Maua,KE,75.70,overcast clouds,-0.4536,39.6401,Sharif Plaza Hotel
1888,Alotau,PG,79.18,overcast clouds,-6.1219,141.2906,Airport Lodge Kiunga
1889,Avarua,CK,76.05,scattered clouds,-21.2078,-159.7750,Paradise Inn

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))